body {
  background-color: rgb(236, 228, 228);
}

h1 {
  text-align: center;
}

h3 {
  padding-top: 20px;
  text-align: left;
}

.display h3 {
  padding-left: 10%;
}

h4 {
  margin: 0;
}

strong {
  color: blue;
}

#content {
  padding-left: 10%;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto;
  column-gap: 2%;
}
#categories {
  background-color: rgb(243, 241, 237);
}

#report {
  background-color: rgb(230, 223, 216);
}

#list {
  background-color: rgb(216, 208, 197);
}
.display {
  display: grid;
  grid-template-rows: auto auto auto;
}

.inline {
  display: inline-block;
  padding-bottom: 0;
}
